:root {
  --bg-main-color: #b6b6b6;
  --font-color: #151617;
}
* {
  margin: 0;
  padding: 0;
  border: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-main-color);
  font-family: 'Inter';
  font-size: 1.4em;
  font-weight: 300;
  color: #000000;
}
img {
  vertical-align: top;
} 
input {
  visibility: hidden;
  display: none;
}
.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.main-container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  z-index: 1;
}
.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.slider-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 400%;
  transition: transform 0.5s;
}
.slider-container .slide-img {
  width: 25%;
  height: auto;
  transition: all 0.8s;
  list-style-type: none;
}
.slide-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
}
.slider-controls-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  height: 10rem;
  padding: 2rem 0 2rem;
  overflow: hidden;
}
.slider-controls-wrap {
  display: flex;
}
.control-wrapper {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-circle {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid;
  border-color: #000000;
  border-radius: 50%;
  transition: all 0.5s;
}
.control-wrapper:hover {
  cursor: pointer;
}
.control-wrapper:hover .item-circle{
  border-color: #5138dd;
  transition: all 0.2s;
}
.control-wrapper:active .item-circle{
  background-color: #5138dd;
  border-color: #5138dd;
  transition: all 0.2s;
  transform: scale(1.5)
}
.slider-text-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0.3rem;
}
.controls-text {
  width: 100%;
  display: none;
}
#item-1:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap .slide-circle-1 .item-circle,
#item-2:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap  .slide-circle-2 .item-circle,
#item-3:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap  .slide-circle-3 .item-circle,
#item-4:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap  .slide-circle-4 .item-circle{
    background-color: #5138dd;
    border-color: #5138dd;
}
#item-2:checked ~ .slider-container .slider-wrap .slider {
  transform: translateX(-25%);
}