:root {
  --bg-main-color: #b6b6b6;
  --font-color: #151617;
}
* {
  margin: 0;
  padding: 0;
  border: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 1em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg-main-color);
  font-family: 'Inter';
  font-size: 1.2em;
  font-weight: 300;
  color: #000000;
}
img {
  vertical-align: top;
} 
input {
  visibility: hidden;
  display: none;
}
.main-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.main-container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  z-index: 1;
}
.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.slider-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.slider {
  display: flex;
  width: 400%;
  transition: transform 0.5s;
}
.slider-container .slide-img {
  width: 25%;
  height: auto;
  transition: all 0.8s;
  list-style-type: none;
}
.slide-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
}
.slider-controls-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  height: 10rem;
  padding: 2rem 0 2rem;
  overflow: hidden;
}
.slider-controls-wrap {
  display: flex;
}
.control-wrapper {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-circle {
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid;
  border-color: #000000;
  border-radius: 50%;
  transition: all 0.5s;
}
.control-wrapper:hover {
  cursor: pointer;
}
.control-wrapper:hover .item-circle{
  border-color: #5138dd;
  transition: all 0.2s;
}
.control-wrapper:active .item-circle{
  background-color: #5138dd;
  border-color: #5138dd;
  transition: all 0.2s;
  transform: scale(1.5)
}
.slider-text-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 0.3rem;
}
.controls-text {
  width: 100%;
  display: none;
}
#item-1:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap .slide-circle-1 .item-circle,
#item-2:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap  .slide-circle-2 .item-circle,
#item-3:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap  .slide-circle-3 .item-circle,
#item-4:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap  .slide-circle-4 .item-circle{
    background-color: #5138dd;
    border-color: #5138dd;
}
#item-1:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap .slide-circle-1 :hover .item-circle,
#item-2:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap  .slide-circle-2 :hover .item-circle,
#item-3:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap  .slide-circle-3:hover .item-circle,
#item-4:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-controls-wrap  .slide-circle-4:hover .item-circle{
    background-color: #beb6ef;
    border-color: #c5beef;
}
#item-1:checked ~ .slider-container .slider-wrap .slider {
  transform: translateX(0);
}
#item-2:checked ~ .slider-container .slider-wrap .slider {
  transform: translateX(-25%);
}
#item-3:checked ~ .slider-container .slider-wrap .slider {
  transform: translateX(-50%);
}
#item-4:checked ~ .slider-container .slider-wrap .slider {
  transform: translateX(-75%);
}
#item-1:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-text-wrap .controls-text:nth-child(1) {
  display: block;
  animation: 0.5s ease-in-out text-animation;
}
#item-2:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-text-wrap .controls-text:nth-child(2) {
  display: block;
  animation: 0.5s ease-in-out text-animation;
}
#item-3:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-text-wrap .controls-text:nth-child(3) {
  display: block;
  animation: 0.5s ease-in-out text-animation;
}
#item-4:checked ~ .slider-container .slider-wrap .slider-controls-container .slider-text-wrap .controls-text:nth-child(4) {
  display: block;
  animation: 0.5s ease-in-out text-animation;
}
@keyframes text-animation {
  from {
      opacity: 0;
      transform: translateX(-1rem);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}
@media (max-width: 1280px) {

  .main-container-wrap {
      width: 55%;
  }

  body {
      font-size: 1.3em;
  }
}
@media (max-width: 980px) {
  .main-container {
      flex-direction: column;
  }

  .slider-controls-container {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 12rem;
      gap: 1rem;
      text-align: center;
  }

  .main-container-wrap {
      width: 63%;
      flex-grow: 1;
  }
  .controls-text {
    text-align: left;
  }

}
@media (max-width: 650px) {
  .main-container-wrap {
      width: 80%;
  }
}
@media (max-width: 420px) {

  body {
      font-size: 1.8em;
  }

  .slider-controls-container {
      height: 14.5rem;
  }
}